@model System.Web.Mvc.HandleErrorInfo

@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An error occured while processing your request.
    </h3>
    <hr />
}

else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
}

@Html.ActionLink("Back", "Index", "Home", null, null)



